.TableRowInnerContainer{
  display: flex;
  flex-grow: initial;

}

.TableRowInnerFavorite{
  display: flex;
  flex-grow: initial;
}


.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

