@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}



body, #root {
  height: 100vh;
  background: url("background_banana.png");
  background-size: 1920px 1080px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open{
  background-color: rgba(0,0,0,0.2) !important;
  backdrop-filter: blur(1px);
}
