@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body  {
  /*background-size: auto;*/
}

#root {
  width: 100vw;
  height: 100vh;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open{
  background-color: rgba(0,0,0,0.2) !important;
  backdrop-filter: blur(1px);
}


.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  /*background-color: #af943c !important;*/
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
  position: relative !important;
}
